<%= simple_form_for [@cocktail, @dose] do |f| %>
  <% if @dose.errors.any? %>
    <div class="errors-container">
      <ul>
        <% @dose.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.association :ingredient, :class => 'select2' %>
  <%= f.input :description, placeholder: "5 cl" %>
  <%= f.submit "Add an ingredient", class: "btn btn-primary btn-block" %>
<% end %>
